<% if comment.user != nil %>
	<ul><li>
	<div><b><%= comment.comment %></b><p>- Posted by 
	<%= comment.user.email %></div>
	<% if ((comment.user == current_user) || current_user.try(:admin?)) %>
		<font color="black"><%= button_to "Edit", edit_sale_comment_path(comment.sale, comment), :method => :get %></font>
		<font color="black"><%= button_to "Delete", [comment.sale, comment], method: :delete, data: {confirm: "Are you sure you want to do this?"} %></font>
	<% end %></p>
	</ul></li>
<% else %>	
	<% comment.destroy %>
	<% $contador = @sale.comments.count - 1 %>
<% end %>