<% if user_signed_in? %>
	<h3><b>Write about it:</b></h3> 
    <%= form_for ([@sale, @sale.comments.build]) do |f| %>
		<h4><%= f.text_area(:comment, size: '110x4') %></h4><br>
		<br>
		<h4><%= f.submit %><br></h4>
	<%end%>
<% end %>