<center><h1><b>
<font size="8">About Us</font></b></h1></center>
<style type="text/css">
	#tb-0 {
	    margin-right: 30%;
	    margin-left: 0%;
	  }
	#tb-1 {
	    margin-left: 27%;
	    margin-right: -1%;
	  }
 </style>

 <br><br><br><br>
 <div id="tb-0">
	 <style type="text/css">
	.tg  {border-collapse:collapse;border-spacing:0;}
	.tg td{font-size:14px;padding:14px 18px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
	.tg th{font-size:14px;font-weight:normal;padding:14px 18px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
	.tg .tg-gbjd{font-weight:bold;font-size:18px;background-color:#808080;color:#D3D3D3;text-align:center}
	.tg .tg-qems{background-color:#808080;color:#D3D3D3;text-align:center}
	@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}</style>
	<div class="tg-wrap"><table class="tg">
	  <tr>
	    <th class="tg-gbjd">PercentOff - Sales is an web site developed for people to share sales and creates a community in which the motto is to save money. Here
you can share and see the newests sales all around the country and enjoy it to save some money to the hard days!
What are you waiting for? Find and Share the best deals with our community! Join us today! It's Free!!!</th>
	    <th class="tg-qems"><%= image_tag('LogoContorno.png', size: '310x280') %></th>
	  </tr>
	</table></div>
 </div>

 <br><br><br>
 <div id="tb-1">
	<style type="text/css">
	.tg  {border-collapse:collapse;border-spacing:0;}
	.tg td{font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
	.tg th{font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
	.tg .tg-cq0p{font-weight:bold;font-size:18px;background-color:#808080;color:#d3d3d3;text-align:center}
	@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}</style>
	<div class="tg-wrap"><table class="tg">
	  <tr>
	    <th class="tg-cq0p"><%= image_tag('Allan.jpeg', size: '280x300') %></th>
	    <th class="tg-cq0p">Software Engineering Student at Universidade de Brasilia - Faculdade do Gama. One of the main developer of the PercentOff website.
Uses to play lolzinho with the friends in the idle hours (almost never).</th>
	  </tr>
	</table></div>
 </div>

 <br><br><br>
 <div id="tb-0">
 	 <style type="text/css">
	.tg  {border-collapse:collapse;border-spacing:0;}
	.tg td{font-size:14px;padding:14px 18px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
	.tg th{font-size:14px;font-weight:normal;padding:14px 18px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
	.tg .tg-gbjd{font-weight:bold;font-size:18px;background-color:#808080;color:#D3D3D3;text-align:center}
	.tg .tg-qems{background-color:#808080;color:#D3D3D3;text-align:center}
	@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}</style>
	<div class="tg-wrap"><table class="tg">
	  <tr>
	    <th class="tg-gbjd">Software Engineering Student at Universidade de Brasilia - Faculdade do Gama. One of the main developer of the PercentOff website.
Uses to sleep in the idle hours (almost never).</th>
	    <th class="tg-qems"><%= image_tag('Hugo.jpeg', size: '280x300') %></th>
	  </tr>
	</table></div>
 </div>
 <br><br><br><br>