<center>
<%= form_for @sale do |f| %>
	<%= f.label :title %><br>
	<h4><%= f.text_field(:title, size: '85') %><br></h4>
	<br> 
	<%= f.label :content %><br>
	<center><h4><%= f.text_area(:content, size: '118x10') %></h4><br></center>
	<br>
	<%= f.label :image_path %><br>
	<h4><%= f.text_field(:image_path, size: '85') %></h4><br>
	<br>
	<h4><%= f.submit %><br></h4>
<%end%>
</center>