<center>
<% @sales.each do |sale| %>
	<% if sale.user == nil %>
		<% sale.destroy %>
	<% else %>	
		<br>
		<style type="text/css">
		.tg  {border-collapse:collapse;border-spacing:0;border: hidden;}

		.tg td{font-size:15px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border: hidden;}
		.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border: hidden;}
		.tg .tg-m3ox{font-size:16px;background-color:#efefef;color:#656565;vertical-align:top}
		.tg .tg-dakb{font-size:27px;background-color:#efefef;color:#696969;text-align:center}
		.tg .tg-8nuy{font-size:16px;background-color:#efefef;color:#656565}
		.tg .tg-j4kc{background-color:#efefef;text-align:center}
		.tg .tg-tezs{font-size:17px;background-color:#efefef;color:#000000}
		@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}
		</style>
		<div class="tg-wrap"><table class="tg">
		  <tr>
		    <th class="tg-dakb" colspan="2"><b><%= sale.title %></b></th>
		  </tr>
		  <tr>
		    <td class="tg-8nuy"><b>Published at <%= time_ago_in_words(sale.created_at) %> ago by <%= sale.user.email %></b></td>
		    <td class="tg-j4kc" rowspan="3"><%= link_to image_tag(sale.image_path, :size => "280x280"), sale %></td>
		  </tr>
		  <tr>
		    <td class="tg-tezs"><b><%= truncate(sale.content, :length => 300) %><%= link_to "Read more...", sale  %></b></td>
		  </tr>
		  <tr>
		    <td class="tg-m3ox"><b><%= sale.comments.count %>  Comments</b></td>
		  </tr>
		</table></div>
		<br>
	<% end %>
<% end %>
</center>