<center><br><h1><b><%= @sale.title %></b></h1>
<div>
	<br><br><%= @sale.content %><br><br><br>
	<%= image_tag(@sale.image_path) %>
	<br><br>

	<% if ((@sale.user == current_user) || current_user.try(:admin?)) %>
		<font color="black"><%= button_to "Edit", edit_sale_path(@sale), :method => :get %></font>
		<font color="black"><%= button_to "Delete", sale_path(@sale), method: :delete, data: { confirm: "Are you sure you want to do this?"}%></font>
	<% end %>

</div>
</center>

<br>
<% $contador = @sale.comments.count  %>
<h3><b> <%= $contador %>  Comments: </b></h3> 
<%= render @sale.comments %>
<br>
<%= render "comments/form" %>
<br>