<!DOCTYPE html>
<html lang="en">
<head>
  
  <title>Percent Off - Sales</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <style>

  body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #DCDCDC;
  }

  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #DCDCDC;
    font-weight: 600;
    margin-bottom: 30px;
  }

  h4 {
    font-size: 18px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }
    
  #wrapper {
    margin-left: 3%;
    margin-right: 3%;
  }

  .container-fluid {
    padding: 60px 50px;
  }

  .navbar {
    margin-bottom: 0;
    background-color: rgba(128,128,128,0.5);
    z-index: 9999;
    border: 0;
    font-size: 18px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 3.5px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #000 !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
    }

  </style>
</head>

<body background = "http://www.pixelstalk.net/wp-content/uploads/2016/04/Wallpapers-HD-grey-pictures-images-desktop.jpg" id="percentOff" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
        <%= link_to image_tag('NomeComLogo.png', :size => "190x60"), root_path %> 
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        
        <li><%= link_to "About Us", application_index_path %></li>
        <% if user_signed_in? %>
            <li><%= link_to "New Sale", new_sale_path %></li>
            <li><%= link_to current_user.email, edit_user_registration_path %></li>
            <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>        
        <% else %>
            <li><%= link_to "Join us", new_user_registration_path %></li>
            <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %> 

      </ul>
    </div>
  </div>
</nav>
    
<div id="wrapper">
    <br><br>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>    
    <%= yield %>
</div>
<br><br><br><br>
<center> <%= link_to image_tag('NomeComLogo.png'), application_index_path %> </center>

<footer class="container-fluid text-center">
  <a href="" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Powered by <a href="http://www.ece.rice.edu/~wakin/images/lenaTest3.jpg" target="_blank" title="lena">Allan, Hugo and Lena</a></p>
</footer>

</body>
</html>

<%= javascript_include_tag "aplication" %>